body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.background-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 15px;
}
.background-main.midnight {
  background: rgb(107, 70, 51);
  background: -moz-linear-gradient(
    0deg,
    rgba(107, 70, 51, 1) 0%,
    rgba(1, 33, 74, 1) 34%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(107, 70, 51, 1) 0%,
    rgba(1, 33, 74, 1) 34%
  );
  background: linear-gradient(
    0deg,
    rgba(107, 70, 51, 1) 0%,
    rgba(1, 33, 74, 1) 34%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b4633",endColorstr="#01214a",GradientType=1);
}
.background-main.morning {
  background: rgb(226, 193, 116);
  background: -moz-linear-gradient(
    0deg,
    rgba(226, 193, 116, 1) 0%,
    rgba(139, 211, 238, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(226, 193, 116, 1) 0%,
    rgba(139, 211, 238, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(226, 193, 116, 1) 0%,
    rgba(139, 211, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2c174",endColorstr="#8bd3ee",GradientType=1);
}

.background-main.noon {
  background: rgb(139, 186, 228);
  background: -moz-linear-gradient(
    0deg,
    rgba(139, 186, 228, 1) 0%,
    rgba(84, 131, 187, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(139, 186, 228, 1) 0%,
    rgba(84, 131, 187, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(139, 186, 228, 1) 0%,
    rgba(84, 131, 187, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8bbae4",endColorstr="#5483bb",GradientType=1);
}
.background-main.evening {
  background: rgb(233, 168, 97);
  background: -moz-linear-gradient(
    0deg,
    rgba(233, 168, 97, 1) 0%,
    rgba(121, 142, 190, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(233, 168, 97, 1) 0%,
    rgba(121, 142, 190, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(233, 168, 97, 1) 0%,
    rgba(121, 142, 190, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9a861",endColorstr="#798ebe",GradientType=1);
}

.background-main.night {
  background: rgb(0, 66, 116);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 66, 116, 1) 0%,
    rgba(1, 33, 74, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 66, 116, 1) 0%,
    rgba(1, 33, 74, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 66, 116, 1) 0%,
    rgba(1, 33, 74, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004274",endColorstr="#01214a",GradientType=1);
}
.search-container {
  width: 60vw;
  max-width: 450px;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 30px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
}
.search-input {
  width: 85%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -2px;
}
.search-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-card {
  width: 80vw;
  max-width: 650px;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.44);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: cardOpen 1s linear forwards;
}
.night .weather-card {
  background: rgba(0, 0, 0, 0.17);
}
.weather-card .top-section {
  background: rgb(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.weather-card .middle-section {
  flex: 2;
  padding: 8px 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 2px 1px #2a2a2a;
  font-size: 1rem;
}
.timezone-time {
  font-size: 3.5rem;
}
.weather-card .bottom-section {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 0, 0, 0.8);
  padding: 8px 20px;
}
.bottom-section .place-name {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3rem;
}
.country-name {
  font-weight: 300;
  font-size: 1rem;
  margin-left: 1px;
}
.wind-svg {
  width: 40px;
  height: 40px;
}
.termometer-info {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.termometer-info button {
  font-size: 16px;
  color: rgb(92, 92, 92);
  font-weight: 600;
}
.termometer-info button.active {
  color: #fff;
}
.termometer-svg {
  width: 60px;
  height: 60px;
  margin-right: -20px;
}
.temperature-box {
  position: relative;
  width: 50px;
  height: 50px;
}
.temperature {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  top: -135%;
  left: -110%;
  font-weight: 600;
  font-size: 2.7rem;
  color: #fff;
  text-shadow: 0px 2px 1px #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ff8234;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.65) inset;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.65) inset;
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.65) inset;
}
@keyframes cardOpen {
  0% {
    height: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0;
    height: 32.5vw;
    min-height: 175px;
    max-height: 225px;
  }
  100% {
    opacity: 1;
    height: 65vw;
    min-height: 350px;
    max-height: 450px;
  }
}
